@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    margin: 0;
    width: 100vw;

    background-color: #272727;

    color: white;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Zilla Slab', serif;*/
    font-family: 'Aleo', serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    margin-top: 0;
    width: 100%;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    align-self: flex-start;
    /*color: #F3368D;*/
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

#logo-name a {
    color: inherit;
    text-decoration: none;
}

nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;

    background-color: #efd510;
}

#navbar-container {
    margin-bottom: 0;
}

footer {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    background-color: #efd510;
    color: #272727;
}

#navbar-container form {
    display: flex;
    align-items: center;
}

#navbar-container input[type="search"] {
    width: 200px;
    height: 30px;
    padding: 3px;
    font-size: 16px;
}

#navbar-container input[type="submit"] {
    height: 30px;
    margin-left: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    color:black;
    margin-right: 20px;
}
