.banner-container {
    position: relative;
    width: 100vw;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#banner-backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.2; /* Adjust as needed */
}

.banner-info {
    z-index: 0;
    margin: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#banner-title {
    margin: 100px;
    font-size: 90px;
    color: #e94822;
}

.banner-text p {
    text-align: center;
    font-size: 30px;
}