h2 {
    margin-left: 40px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-form {
   width: 100%;
}

.banner-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2; /* Adjust as needed */
}

.banner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-title {
    margin: 100px;
}

.banner-title h1 {
    font-size: 90px;
    color: #e94822;
}

.banner-text p {
    text-align: center;
    font-size: 30px;
}

.carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel img {
    scroll-snap-align: start;
    width: 200px;
}


