.login-form-container {
    width: 500px;
    padding: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: auto; /* Centralize the container */
}

.login-form-container h2 {
    color: #272727;
    margin-left: 0;
}

.login-form-container label {
    color: #272727; /* Dark color for contrast with light background */
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.login-form-container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black; /* Dark color for contrast with light background */
}

.login-form-container input[type=submit] {
    background-color: #f0f0f0; /* Light color for contrast with dark text */
    color: #272727;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-form-container input[type=submit]:hover {
    opacity: 0.8;
}

/*REDIRECT*/

.redirect-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
}

/*ERROR*/

.error-container {
    display: none;
    padding: 4px;
    background-color: #e94822;
    border-radius: 12px;
}

#errorMessage {
    text-align: center;
}