/*MOVIE DETAILS*/

.movie-details-container {
    position: relative;
    height: 550px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


#background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    opacity: 0.1;
}


.info-container {
    position: relative;
    z-index: 0;
    padding: 0 80px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#poster-image {
    width: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.text-container {
    padding-left: 40px;
    align-self: start;
}

.text-container h2 {
    margin: 0;
}

#movie-title {
    margin: 0;
    color: #ffffff;
}

.general-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.general-info p {
    margin-right: 20px;
}

#favorite-button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
}

#favorite-button.favorited {
    color: red;
}

#favorite-button:not(.favorited) {
    color: black;
}

/*REVIEW FORM*/

.review-form-container {
    align-self: center;

    background-color: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
    border-radius:  12px;
    padding-left:   20px;
    padding-right:  20px;
    padding-bottom: 20px;
    margin-bottom:  24px;
    width:          80%;

    color: white; /* White text for contrast with the dark background */
}

#review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review-form-text {
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
}