.review {
    background-color: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
    border-radius: 12px; /* Rounded edges */
    padding-left:  20px; /* Some padding */
    padding-right: 20px; /* Some padding */
    margin-bottom: 24px; /* Some margin to separate the reviews */
    width: 80%;

    color: white; /* White text for contrast with the dark background */
}

.review-title {
    background-color: black;
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
    margin-bottom: 8px;

    font-size: 25px; /* Larger font size for the title */
    color: #e94822;
}
.review-text {
    padding-left: 8px;
    padding-right: 8px;
}